  body {
      margin: 0;
      background-color: black;
      min-height: 100vh;
  }

  canvas {
      margin: auto;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
  }

h1::after{
    content: attr(title);
    display: block;
    text-align: center;
    color: white;
}